@import '../users/users.component.scss';

.transactions-container {
  @extend .users-container;
}

.transactions-table-container {
  @extend .users-table-container;
}

.transactions-table {
  @extend .users-table;

  .badge-primary {
    background: #c3ddfd;
    color: #2c5282;
  }
}
