// Color variables are defined in styles.scss
// This file exists for import compatibility
// Colors are available as CSS variables:
// --tw-navy, --tw-emerald, --tw-turquoise, --tw-aqua, --tw-white

