@mixin container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 clamp(1.25rem, 4vw, 3.5rem);
}

@mixin breakpoint($size) {
  @if $size == sm {
    @media (min-width: 640px) {
      @content;
    }
  } @else if $size == md {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $size == lg {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $size == xl {
    @media (min-width: 1280px) {
      @content;
    }
  }
}

